body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: white;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}
ul {
    margin: 0;
    padding: 0;
}
.button_1 {
    height: 38px;
    background: #e8491d;
}
header {
    background: #35424a;
    color: #ffffff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
}
header a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
header  ul {
    margin: 0;
    padding: 0;
}
header li {
    float: left;
    display: inline;
    padding: 0 20 0 20;
}
header #Branding {
    float: left; 
}
header #Banding h1 {
    margin: 0;
}
header nav {
    float: right;
    margin-top: 30px;
}
header .highlight, header .current a{
    color: #e8491d;
    font-weight: bold;
}
header a:hover{
    color: #e75318;
    font-weight: bold;
}


#SHOWCASE {
    color: #e8491d;;
    min-height: 400px;
    min-width: auto;;
    background: url(img/12316.jpg);
   text-align: center;
}
#SHOWCASE {
    padding-top: 50px;
    font-size: 25px;
}
#newsletter {
    padding: 15px;
    padding-bottom: 20px;
    margin-bottom: 5px;
    color: white;
    background: #35424a;
    border-bottom: #e8491d 3px solid;
    border-top:  #e8491d 3px solid;

}
#newsletter h1  {
    float: left;
    margin-top: 10px;
}
#newsletter form {
    float: right;
    margin-bottom: 10px;
}

#Boxes {
    margin-top: 20px;
}
#Boxes .box {
    float: left;
    padding: 10px;
    text-align: center;
}
#Boxes .box img {
    width: 90px;
    height: 100px;
}
footer {
    padding-top: 20px;
    margin-top: 20px;
    text-align: center;
    background: #35424a;
    border-top:  #35424a 3px solid;
    color: #ffffff;
    font-size: 15px;
    border-bottom: #e8491d 3px solid;

}
#Boxes .box a {
    text-decoration: none;
    color: black;
}
#Boxes .box a:hover{
    color: #e75318;
}